name: Package

on:
   milestone:
     types: [closed]

jobs:
  linux_package:
    name: 'Linux'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Setup Commands
      run: chmod +x ./scripts/download-latest.sh
    - name: Configure Package Registry
      run: sed -i 's/GITHUB_TOKEN/${{ secrets.GITHUB_TOKEN }}/g' nuget.config
    - name: Build and Package
      run:  |
        commit="${{ github.sha }}"
        dotnet build -c Release --version-suffix "v${commit:0:7}"
    - name: Push to GitHub Package Registry
      run: dotnet nuget push src/ElectionGuard/bin/Release/*.nupkg --source "github"
    - name: Push to Nuget.org
      run: dotnet nuget push src/ElectionGuard/bin/Release/*.nupkg --api-key ${{ secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
